*{
    
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("bg.webp");
    background-attachment: fixed;
}
.card{
    width:90%;
    max-width: 470px;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    margin: 10px auto 0;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px; 
    text-align: center;


}
.search{
    width:100%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width:30px;
}
.weathericon{
    width:200px;
    margin-top: 10px;
}
.weather h1{
    font-size: 80px;
    font-weight: 800;
}
.weather h2{
    font-size: 45px;
    font-weight: 300;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;

     
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width:40px;
    margin-right:10px;
}
.humidity, .wind{
    font-size:15px ;
    
}
.weather{
    display: none;
}
.error{
    display: none;
}
.heading{
    margin-top: 30;
    margin-bottom: -20px;
    
    font-size: 70px;
    color: beige;
    padding: 20px auto;
    text-align: center;
}
.credits{
    color: #a1c4fd;
    text-align: end;
    margin-right: 30px;
    font-family:'Times New Roman', Times, serif;
}
.box{
    display: flex;
}